{% extends "jobs/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<body>
    {% block content %}
    <section class="container">
        <div class="row p-4">
            <div> 
               <a class="navbar-brand" href="{% url 'home' %}">
                    <img height="150px" src="{% static 'img/i-logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="ml-auto undo-times" style="margin-bottom: 10px;" >
               <a href="{% url 'say_hello' %}"> <i class="fa fa-undo"></i></a>
               <a href="{% url 'home' %}"> <i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="row col-lg-12" id="avtarimg">
            <hr class="col-lg-5">
            <div class="text-center col-lg-2">
            <img class="img-fluid avtar" height="90px" width="90px" src="{% static "img/mf-avatar.svg" %}"
                alt="avtar image">
            </div>
            <hr class="col-lg-4">
        </div>
        
    </section>
    <section class="container">

        <div class="row h1 text-center text-secondary mx-auto col-lg-10 col-sm-12 py-4">
            Thanks for taking the time to reach out. How can I help you today?
        </div>
    </section>
    <section class="container-fluid pt-4 mt-4">

       
   <div class="row">
       <div class="col-md-6 offset-3">
            <form method="POST">
        <!-- Very Important csrf Token -->
                {% csrf_token %}
                <div class = "form-group">
                <p>
                <h3>{{ form|crispy }}</h3>
                </p>
                <br>
                <input type="submit" name="Subscribe" class = 'btn btn-outline-primary btn-lg'>
                </div>
             </form>

       </div>
   </div>
    </section>
     {% endblock content %}